.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 200px;
  height: 56px;
  border-radius: 22px;
  background: #aeabab;
}